body {
    padding: 0;
    margin: 0;
    font-family: IBM Plex Mono;
    background-color: #080808;
}

.navigation-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #1B1B1B;
    height: 70px;
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
    gap: 70px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid #65cae9;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-top-style: none;
}

.navigation-bar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 70px;
 
}

.navigation-bar a {
    color: #9C9C9C;
    text-decoration: none;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 107.54px;
    height: 17px;
    top: 26px;
    left: 922px;
}

.social-icons img {
    width: 17px;
    height: 18px;
}

.main-intro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pfp {
    width: 350px;
    height: 350px;
    margin-top: 80px;
    border-radius: 50%;
}

.intro {
    display: flex;
    flex-direction: column;
    width: 538px;
    height: 247px;
}

.intro h1 {
    color: #FFFFFF;
    font-family: Raleway;
    font-size: 44px;
    font-weight: 800;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.intro p {
    color: #9C9C9C;
    font-size: 14px;
    width: 492px;
    height: 72px;
    margin-top: 0;
    margin-bottom: 30px;
    gap: 10px;
    line-height: 24px;
    letter-spacing: 1%;
}

.intro button {
    background-color: #07c797;
    color: #FFFFFF;
    padding: 21px 0px 21px 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 307.89px;
    height: 63px;
    border-radius: 4px;
    border: 1px solid #19a08e;
    font-family: IBM Plex Mono;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0%;
    line-height: 100%;
    gap: 10px;
    vertical-align: bottom;
    white-space: nowrap;
}

.intro button img {
    width: 5.89px;
    height: 10px;
    margin-right: 64px;
}

.intro a {
    text-decoration: none;
}

.worked-with p {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: bottom;
    margin-left: 180px;
    margin-top: 70px;
    font-weight: 400;
}

.partnerships {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    height: 60px;
    margin-left: 200px;
    margin-right: 200px;
}

.partnerships-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #65cae9;
    border-radius: 5px;
    width: 160px;
    height: 60px;
}

.partnerships-container img {
    padding: 10px 20px;
    display: block;
    object-fit: contain;
    width: 100%;
}

@media screen and (max-width: 899px) {
    body {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .navigation-bar {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    }

    .intro {
        justify-content: center;
        align-items: center;
    }

    .intro h1 {
        font-size: 35px;
    }

    .intro p {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
        width: 70%;
        margin: 5px;
        padding: 0px;
        font-size: 18px;
    }
    .main-intro {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .main-intro button img {
        margin-right: 100px;
        margin-left: 0;
        margin-top: 0;
        padding: 0;
    }

    .main-intro img {
        width: 50%;
        height: 50%;
        margin-top: 20px;
    }
    
    .worked-with {
        display: flex;
        justify-content: start;
        width: 400px;
     }
    .worked-with p {
        margin: 20px;
        padding: 20px;
        justify-content: start;
        font-size: 20px;
    }
}
/*

@media screen and (min-width:  ) and (max-width: ) {

}


@media screen and (min-width: ) and (max-width: ) {

}


@media screen and (min-width: ) and (max-width: ) {

}


@media screen and (min-width: ) and (max-width: ) {
    
} 
